# Copy this file to .env before running the docker compose

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=events

POSTGRES_DB=pipeline
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=pipeline
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PARQUET_PATH=/app/data/askreddit-stream.parquet

PRODUCE_INTERVAL_SECONDS=0.002

MODEL_PATH=/app/models/comment_scorer
